@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
    font-family: 'Red Hat Display', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    padding-bottom: 2rem;
    background-color: hsl(233, 26%, 24%);
}

#header-text {
    text-align: center;
}

#header-text p {
    font-size: 1.2rem;
    color: #E5E7EB;
}

#header-text p:first-of-type {
    margin-bottom: 1rem;
}

#header-text h1 {
    font-size: 2rem;
    margin: 1rem 0;
    color: #F9FAF8;
}

p {
    font-size: 1.5rem;
}

.image {
    width: 100%;
}

.image img {
    width: 100%;
}